USE [master]
GO

CREATE DATABASE [Ambulanta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ambulanta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ambulanta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ambulanta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ambulanta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ambulanta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ambulanta]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluga](
	[UslugaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Opis] [nvarchar](255) NULL,
	[Cena] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UslugaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NULL,
	[Prezime] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Lozinka] [nvarchar](50) NULL,
	[Uloga] [nvarchar](50) NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervacija](
	[RezervacijaID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnikID] [int] NULL,
	[Pacijent] [nvarchar](50) NULL,
	[Datum] [date] NULL,
	[Vreme] [time](7) NULL,
	[Status] [nvarchar](20) NULL,
	[Usluga] [nvarchar](50) NULL,
	[Cena] [nvarchar](50) NULL,
	[DoktorID] [int] NULL,
	[UslugaID] [int] NULL,
 CONSTRAINT [PK__Rezervac__CABA44FD695BA1B8] PRIMARY KEY CLUSTERED 
(
	[RezervacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Rezervacije] AS
SELECT 
    r.RezervacijaID,
    p.Ime + ' ' + p.Prezime AS Pacijent,
    d.Ime + ' ' + d.Prezime AS Doktor,
    u.Naziv AS Usluga,
    u.Cena AS Cena,
    r.Datum,
    r.Vreme,
    r.Status
FROM Rezervacija r
JOIN Korisnik p ON r.KorisnikID = p.KorisnikID
JOIN Korisnik d ON r.DoktorID = d.KorisnikID
JOIN Usluga u ON r.UslugaID = u.UslugaID;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PregledZakazivanja] AS
SELECT 
    r.RezervacijaID,
    p.Ime + ' ' + p.Prezime AS Pacijent,
    d.Ime + ' ' + d.Prezime AS Doktor,
    r.Usluga,
    r.Datum,
    r.Vreme,
    r.Status,
    r.Cena
FROM 
    dbo.Rezervacija AS r
    LEFT JOIN dbo.Korisnik AS p ON r.KorisnikID = p.KorisnikID
    LEFT JOIN dbo.Korisnik AS d ON r.DoktorID = d.KorisnikID;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_StampaRezervacija] AS
SELECT 
    r.RezervacijaID,
    d.KorisnikID AS DoktorID,
    ISNULL(d.Ime + ' ' + d.Prezime, 'Nema dodeljenog doktora') AS Doktor,
    p.KorisnikID AS PacijentID,
    p.Ime + ' ' + p.Prezime AS Pacijent,
    r.Datum,
    r.Vreme,
    r.Usluga,
    r.Status,
    r.Cena
FROM 
    dbo.Rezervacija AS r
LEFT JOIN dbo.Korisnik AS d ON r.DoktorID = d.KorisnikID
LEFT JOIN dbo.Korisnik AS p ON r.KorisnikID = p.KorisnikID;
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_Korisnik]
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Usluga] FOREIGN KEY([UslugaID])
REFERENCES [dbo].[Usluga] ([UslugaID])
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_Usluga]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteKorisnika]
    @KorisnikID INT
AS
BEGIN
    DELETE FROM Korisnik
    WHERE KorisnikID = @KorisnikID;
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DodajRezervaciju]
    
    
    @Datum DATE,
    @Vreme TIME,
    @Status NVARCHAR(50),
    @Pacijent NVARCHAR(100)
AS
BEGIN
    INSERT INTO Rezervacija ( Datum, Vreme, Status, Pacijent)
    VALUES ( @Datum, @Vreme, @Status, @Pacijent);
END;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginKorisnika]
    @Ime NVARCHAR(50),
    @Prezime NVARCHAR(50),
    @Lozinka NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (1)
        KorisnikID,
        Ime,
        Prezime,
        Email,
        Uloga
    FROM dbo.Korisnik
    WHERE Ime = @Ime
      AND Prezime = @Prezime
      AND Lozinka = @Lozinka;
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrujKorisnika]
    @Ime NVARCHAR(50),
    @Prezime NVARCHAR(50),
    @Email NVARCHAR(50),
    @Lozinka NVARCHAR(50),
    @Uloga NVARCHAR(50)
AS
BEGIN
    -- Provera da li korisnik sa istim email-om već postoji
    IF EXISTS (SELECT 1 FROM Korisnik WHERE Email = @Email)
    BEGIN
        RAISERROR('Korisnik sa tim emailom već postoji.', 16, 1)
        RETURN
    END

    -- Unos korisnika
    INSERT INTO Korisnik (Ime, Prezime, Email, Lozinka, Uloga)
    VALUES (@Ime, @Prezime, @Email, @Lozinka, @Uloga)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cenovnik_Pregled]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT 
        Usluga, 
        Cena
    FROM dbo.Rezervacija
    WHERE Cena IS NOT NULL
    ORDER BY Usluga;
END;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Doktori_Lista]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT KorisnikID, Ime, Prezime
    FROM Korisnik
    WHERE Uloga = 'Doktor';
END;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Rezervacija_Izmeni]
    @RezervacijaID INT,
    @Datum DATE,
    @Vreme TIME(7),
    @Pacijent NVARCHAR(100),
    @Usluga NVARCHAR(100),
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT OFF;

    UPDATE dbo.Rezervacija
    SET
        Datum = @Datum,
        Vreme = @Vreme,
        Pacijent = ISNULL(@Pacijent, 'Nepoznat'),
        Usluga = ISNULL(@Usluga, 'Pregled'),
        Status = ISNULL(@Status, 'Zakazano')
    WHERE RezervacijaID = @RezervacijaID;
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Rezervacija_Zakazi]
    @KorisnikID INT,
    @Pacijent NVARCHAR(100),
    @Datum DATE,
    @Vreme TIME(7),
    @Status NVARCHAR(50),
    @Usluga NVARCHAR(100),
    @DoktorID INT = NULL,
    @Cena DECIMAL(10,2) = NULL
AS
BEGIN
    -- SET NOCOUNT ON;  ← obrisano!

    IF NOT EXISTS (SELECT 1 FROM Korisnik WHERE KorisnikID = @KorisnikID)
    BEGIN
        RAISERROR('Korisnik ne postoji.',16,1);
        RETURN;
    END

    INSERT INTO dbo.Rezervacija
        (KorisnikID, Pacijent, Datum, Vreme, Status, Usluga, DoktorID, Cena)
    VALUES
        (@KorisnikID, ISNULL(@Pacijent,'Nepoznat'), @Datum, @Vreme, 
         ISNULL(@Status,'Zakazano'), ISNULL(@Usluga,'Pregled'),
         @DoktorID, @Cena);
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usluge_Distinct]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT Usluga
    FROM Rezervacija
    WHERE Usluga IS NOT NULL
    ORDER BY Usluga;
END;
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateKorisnika]
    @KorisnikID INT,
    @Ime NVARCHAR(50),
    @Prezime NVARCHAR(50),
    @Email NVARCHAR(50),
    @Lozinka NVARCHAR(50),
    @Uloga NVARCHAR(50)
AS
BEGIN
    UPDATE Korisnik
    SET 
        Ime = @Ime,
        Prezime = @Prezime,
        Email = @Email,
        Lozinka = @Lozinka,
        Uloga = @Uloga
    WHERE KorisnikID = @KorisnikID
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[35] 4[26] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "r"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "k"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_StampaRezervacija'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_StampaRezervacija'
GO
USE [master]
GO
